.c-calculator {
  background-color: $color-page-background;
  display: grid;
  font-family: $font-family--body;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 1rem;

  @media (min-width: $tablet-width) {
    margin: auto;
    max-width: 80vw;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 50vw;
  }

  &__title {
    font-family: $font-family--heading;
    font-size: 3rem;
    font-weight: bold;
    justify-self: center;
  }

  &__subtitle {
    font-family: $font-family--heading;
    font-size: 2.4rem;
    justify-self: center;
  }

  &__form {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 1rem;
    padding: 1rem;
  }

  &__heading {
    font-family: $font-family--heading;
    font-size: 2.4rem;
    justify-self: center;
  }

  &__form-field {
    margin: 1rem;
  }

  &__form-heading {
    font-family: $font-family--heading;
    font-size: 1.6rem;
  }

  &__form-input {
    border: 1px solid $black--transparent;
    border-radius: 1rem;
    font-size: 1.6rem;
    padding: 1rem;
  }

  &__form-fieldset {
    border: 1px solid $black--transparent;
    border-radius: 1rem;
    margin: 1rem;
  }

  &__form-ul {
    line-height: 2.3rem;
    list-style: none;
    padding: 0 1rem;
  }

  &__form-li {
    font-size: 1.6rem;
  }

  &__form-button {
    background-color: $green;
    border: 1px solid $green--border;
    border-radius: 1rem;
    font-size: 1.6rem;
    margin: 1rem 0;
    padding: 1rem;
  }

  &__price {
    font-size: 4rem;
    height: 4rem;
    justify-self: center;
    padding: 1rem;
  }
}
