.c-calculator-form {
  justify-self: center;
  max-width: 90vw;
  width: 384px;


  &__heading {
    color: $color-text--secondary;
    font-size: 24px;
    margin-bottom: $global-spacing-unit-small;
  }

  &__input {
    border-radius: $global-spacing-unit-tiny;
    box-shadow: inset 0 1px 3px $color-shadow;
    font-size: 24px;
    height: 64px;
    margin-bottom: $global-spacing-unit;
    padding-left: $global-spacing-unit-small;
    width: 100%;
  }
}
