.c-price-table {
  background-color: $white;
  border: 1px solid $black--transparent;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem;
  padding: 1rem;

  &__title {
    font-family: $font--heading;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
  }

  &__table {
    border: 1px solid $black--transparent;
    border-collapse: collapse;
  }

  &__table-title {
    font-family: $font--heading;
    font-size: 2.2rem;
    margin: 1rem 0;
  }

  &__heading {
    background-color: $white--background;
    border: 1px solid $black--transparent;
    font-family: $font--heading;
    font-size: 1.6rem;
    padding: 1.2rem 0;
  }

  &__data {
    border: 1px solid $black--transparent;
    font-family: $font--body;
    font-size: 1.6rem;
    padding: 1rem 0;
    text-align: center;
  }

  &__space-between-tables {
    height: 1.5rem;
  }
}
