// /*------------------------------------*\
//   #PAGE
// \*------------------------------------*/

// /**
//  * Page-level styling (e.g. HTML and BODY elements).
//  */

html {
  background-color: $color-page-background;
  color: $color-text--primary;
  font-family: $font-family--body;
  font-size: ($global-font-size / 16px) * 1rem;
  line-height: $global-line-height / $global-font-size;
}
