.o-layout {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: auto;
  max-width: 90vw;
  width: 384px;

  &__heading {
    color: $color-text--secondary;
    text-align: center;
  }

  &__footer {
    margin-bottom: $global-spacing-unit-large;
  }
}
