///*----------------------------------*\
//  #TYPOGRAPHY
//\*----------------------------------*/
//

$font-family--body: Lato, 'Open Sans', Roboto, sans-serif;
$font-family--heading: 'Josefin Sans', Oswald, 'Roboto Condensed', sans-serif;

$font-weight--normal: 400;
$font-weight--bold: 600;
