// Colors
$white: #edf2f3;
$white--background: #cedce0;
$green: #5bba6f;
$green--border: #4b995b;
$danger: #d93b4b;
$black: #2d3142;
$black--transparent: rgba(45, 49, 66, .9);

$content--font-color: $black;
$base--font-color: $white;

// Fonts
$font--body: 'Fira Sans', 'Helvetica', 'Arial', sans-serif;
$font--heading: 'Roboto', 'Helvetica', 'Arial', sans-serif;

// Breakpoints
$desktop: 992px;
$tablet: 767px;
