form.c-calculator-form

  .c-calculator-form__fields
    .c-calculator-form__field
      label.c-calculator-form__heading> Length
      br
      input { type="number"
              pattern="[0-9]*"
              class="c-calculator-form__input"
              data-testid="length"
              data-target="calculator.length"
              data-action="keyup->calculator#showSizeOnAnswerCard" }

    .c-calculator-form__field
      label.c-calculator-form__heading> Width
      br
      input { type="number"
              pattern="[0-9]*"
              class="c-calculator-form__input"
              data-testid="width"
              data-target="calculator.width"
              data-action="keyup->calculator#showSizeOnAnswerCard" }

  == partial "category_buttons"

  == partial "buttons_dropdowns"

  button {  class="c-button c-button--submit is-disabled"
            data-testid="get-price-button"
            data-target="calculator.getPriceButton"
            data-action="calculator#getPrice"
            disabled } Get Price