div { class="c-category-button__dropdown c-category-button__dropdown--horizontal"
      data-target="calculator.originalsDropdown"
      data-testid='originals-dropdown' }
  .c-category-button
    input { type="radio"
            name="art-medium"
            value="original--paper"
            id="original--paper"
            class="c-category-button__input"
            data-target="calculator.artMediumButton"
            data-action="calculator#chooseArtMedium" }
    label { class="c-button c-category-button__label c-category-button__label--dropdown" for="original--paper" data-testid="original-paper-button" } Paper

  .c-category-button
    input { type="radio"
            name="art-medium"
            value="original--canvas"
            id="original--canvas"
            class="c-category-button__input"
            data-testid="original-canvas-input"
            data-target="calculator.artMediumButton"
            data-action="calculator#chooseArtMedium" }
    label { class="c-button c-category-button__label c-category-button__label--dropdown" for="original--canvas" data-testid="original-canvas-button"} Canvas

  .c-category-button
    input { type="radio"
            name="art-medium"
            value="original--jackson-square"
            id="original--jackson-square"
            class="c-category-button__input"
            data-target="calculator.artMediumButton"
            data-action="calculator#chooseArtMedium" }
    label { class="c-button c-category-button__label c-category-button__label--dropdown" for="original--jackson-square" data-testid="original-jackson-square-button"} J. Square
