.o-layout
  = image_tag 'gallery-logo.png', class: 'c-logo'

  .c-navigation
    = link_to 'Calculator',
              '/index.html',
              class: 'c-button is-active',
              data: { controller: "navigation",
                      action: 'navigation#root' }

    = link_to 'Tables',
              '/tables.html',
              class: 'c-button',
              data: { controller: "navigation",
                      action: 'navigation#tables' }

  section { class="c-calculator"
            data-testid='calculator'
            data-controller="calculator"
            data-calculator-category="original"
            data-calculator-art-medium=""
            data-calculator-size-heading="Ready..."
            data-calculator-pricing-method-heading="(◕‿◕)"
            data-calculator-pricing=""
            data-calculator-price-per="" }
    == partial 'answer_card'
    == partial 'calculator_form'