.o-layout
  = image_tag 'gallery-logo.png', class: 'c-logo'

  .c-navigation
    = link_to 'Calculator',
              '/index.html',
              class: 'c-button is-active',
              data: { controller: "navigation",
                      action: 'navigation#root' }

    = link_to 'Tables',
              '/tables.html',
              class: 'c-button',
              data: { controller: "navigation",
                      action: 'navigation#tables' }

  section { class="c-calculator"
            data-testid='calculator'
            data-controller="calculator"
            data-calculator-category="original"
            data-calculator-art-medium=""
            data-calculator-size-message="Ready..."
            data-calculator-chosen-medium-message="(◕‿◕)"
            data-calculator-price-per=""
            data-calculator-print-paper=(data.artwork_info.print.paper.price_per)
            data-calculator-print-canvas=(data.artwork_info.print.canvas.price_per)
            data-calculator-original-js=(data.artwork_info.original.jackson_square.price_per)
            data-calculator-original-canvas=(data.artwork_info.original.canvas.price_per)
            data-calculator-original-paper=(data.artwork_info.original.paper.price_per) }
    == partial 'answer_card'
    == partial 'calculator_form'