.o-layout
  = image_tag 'gallery-logo.png', class: 'c-logo'

  .c-navigation
    .c-button.is-active Calculator
    .c-button Tables

  section { class="c-calculator"
            data-controller="calculator"
            data-calculator-category="original"
            data-calculator-artwork-medium=""
            data-calculator-size-message="Ready..."
            data-calculator-chosen-medium-message="(◕‿◕)"
            data-calculator-price-constant=""
            data-calculator-print-paper=(data.prices.prints.paper)
            data-calculator-print-canvas=(data.prices.prints.canvas)
            data-calculator-original-js=(data.prices.originals.jackson_square)
            data-calculator-original-canvas=(data.prices.originals.canvas)
            data-calculator-original-paper=(data.prices.originals.paper) }
    == partial 'answer_card'
    == partial 'calculator_form'