div { class="o-layout"
      data-controller="category-button"
      data-category-button-category="original"
      data-category-button-artwork-medium="" }
  = image_tag 'gallery-logo.png', class: 'c-logo'

  .c-navigation
    = link_to 'Calculator',
              '/index.html',
              class: 'c-button',
              data: { controller: "navigation",
                      action: 'navigation#root' }

    = link_to 'Tables',
              '/tables.html',
              class: 'c-button is-active',
              data: { controller: "navigation",
                      action: 'navigation#tables' }

  h1.o-layout__heading Prices for <br> Standard Sizes

  .c-category-button__group
    .c-category-button
      input { type="radio"
              name="category"
              value="original"
              id="original"
              class="c-category-button__input"
              checked=true
              data-target="category-button.categoryButton"
              data-action="category-button#toggleCategoryDropdown" }
      label { class="c-button c-button--large c-category-button__label" for="original" data-testid="original-button"} Original

    .c-category-button
      input { type="radio"
              name="category"
              value="print"
              id="print"
              class="c-category-button__input"
              data-target="category-button.categoryButton"
              data-action="category-button#toggleCategoryDropdown" }
      label { class="c-button c-button--large c-category-button__label" for="print" data-testid="print-button"} Print

  div { class="c-category-button__dropdown c-category-button__dropdown--horizontal"
        data-target="category-button.originalsDropdown"
        data-testid="originals-dropdown"}
    .c-category-button
      input { type="radio"
              name="artwork-medium"
              value="original--paper"
              id="original--paper"
              class="c-category-button__input"
              data-target="category-button.artworkMediumButton"
              data-action="category-button#artworkMediumSelect" }
      label { class="c-button c-category-button__label c-category-button__label--dropdown"
              for="original--paper"
              data-category-code="originalPaper"
              data-testid="original-paper-button"} Paper

    .c-category-button
      input { type="radio"
              name="artwork-medium"
              value="original--canvas"
              id="original--canvas"
              class="c-category-button__input"
              data-target="category-button.artworkMediumButton"
              data-action="category-button#artworkMediumSelect" }
      label { class="c-button c-category-button__label c-category-button__label--dropdown"
              for="original--canvas"
              data-category-code="originalCanvas"
              data-testid="original-canvas-button"} Canvas

    .c-category-button
      input { type="radio"
              name="artwork-medium"
              value="original--jackson-square"
              id="original--jackson-square"
              class="c-category-button__input"
              data-target="category-button.artworkMediumButton"
              data-action="category-button#artworkMediumSelect" }
      label { class="c-button c-category-button__label c-category-button__label--dropdown"
              for="original--jackson-square"
              data-category-code="originalJacksonSquare"
              data-testid="original-jackson-square-button"} J. Square

  div { class="c-category-button__dropdown c-category-button__dropdown--horizontal is-hidden"
        data-target="category-button.printsDropdown"
        data-testid="prints-dropdown"}
    .c-category-button
      input { type="radio"
              name="artwork-medium"
              value="print--paper"
              id="print--paper"
              class="c-category-button__input"
              data-target="category-button.artworkMediumButton"
              data-action="category-button#artworkMediumSelect" }
      label { class="c-button c-category-button__label c-category-button__label--dropdown"
              for="print--paper"
              data-category-code="printPaper"
              data-testid="print-paper-button"} Paper

    .c-category-button
      input { type="radio"
              name="artwork-medium"
              value="print--canvas"
              id="print--canvas"
              class="c-category-button__input"
              data-target="category-button.artworkMediumButton"
              data-action="category-button#artworkMediumSelect" }
      label { class="c-button c-category-button__label c-category-button__label--dropdown"
              for="print--canvas"
              data-category-code="printCanvas"
              data-testid="print-canvas-button"} Canvas

  - data.categories.each do |category|
    - category_code, category_title, category_pricing = category
    - price_constant = data.prices[category_code]
    div { class="c-price-list-card__group"
          data-target="category-button.#{{category_code}}"
          data-testid="#{{category_code}}"}
      - data.sizes.each do |size_title, dimension_list|
        div { class="c-price-table__card is-closed"
              data-controller="price-list-card"
              data-price-list-card-visibility="closed"
              data-price-list-card-title="#{size_title} x"
              data-price-list-card-artwork-medium="#{category_title}"
              data-target="price-list-card.card" }

          h2 {  class="c-price-table__heading"
                data-testid='price-list-card-heading'
                data-target="price-list-card.heading"
                data-action="click->price-list-card#toggleDropdownTable" } #{size_title} x
          div{  class="c-price-table__dropdown-arrow-wrapper"
                data-action="click->price-list-card#toggleDropdownTable" }
            i { class="c-price-table__dropdown-arrow"
                data-action="click->price-list-card#toggleDropdownTable" }

          table.c-price-table
            - dimension_list.each do |dimensions|
              - length, width = dimensions
              tr
                td.c-price-table__size #{length} x #{width}
                td.c-price-table__price $#{price(category_pricing, length, width, price_constant)}

  .o-layout__footer
